<%# index.erb - the search form with the input box %>
<div class="jumbotron">
    <form action="/movie" class='form-inline'>
        <div class="form-group mx-sm-3 mb-2">
            <input name = "name" type= "text" class="form-control-plaintext" placeholder= "Enter the movie name">
        </div>
        <button class="btn btn-primary">Search</button>
    </form>
</div>